:root {
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button,
textarea{
    /*font: 500 1.6rem Poppins;*/
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /*Todo 1rem vai ser relativo a 10px */
    }
}