#page-landing .container {
    padding: 0;
}

#page-landing header {
    background: #033742;
    height: 5rem;
    display: flex;
    align-items: center;
}

.nav-mobile{
    margin-top: 4rem;
}

.nav-mobile li{
    margin-bottom: 3rem;
}

.nav-mobile li a{
    width: 100%;
    padding: 1rem 3rem;
    color: #FFFFFF;
}

.nav-mobile li a:hover{
    color:#1b1d65;
}

.nav-mobile li ul{
    display: none;
    position: absolute;
    padding-top: 20px;
    transition: 0.3s;
}

.nav-mobile ul li{
    list-style-type: none;
    margin-left: 0px;
    padding: 3px 7px;
    height: 20px;
}

.nav-mobile ul li a{
    color:#3e4095;
}

.nav-mobile ul li a:hover{
    border-radius: 0.8rem;
    text-decoration: none;
    background:#1b1d65;
    color:#FFF;
}

.nav-mobile ul:hover{
    display: block;
    background: #ffffff;
    z-index: 2;
    border-radius: 0.8rem;
    box-shadow: 1px 2px 3px #bbbbbb;
    background: #fff;
}

.toggle-mobile {
    padding: 0.1rem 0.8rem;
}

#page-landing .container .nav .middle-bar-logo img{  
    width: 30vw;
}

#page-landing #banner .image-banner {
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#page-landing #banner span {
    display: flex;
    justify-content: center;
}

#page-landing #banner .text {
    color: #FFFFFF;
    text-align: center;
    background: #033742;
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

#page-landing #banner a {
    background: #6697bc;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
}

#page-landing .bar {
    height: 8rem;
    background: #82969f;
}

#page-landing #content-space {
    padding: 1rem;

    background: #d4d47e;

    display: block;

    text-align: center;
}

#page-landing #content-space .content-unit {
    height: 10rem;
    margin: 2rem 10rem;
    background: #82969f;
    border-radius: 10px;
}

#page-landing #content-space .content-unit a p {
    color: white;
}

#page-landing #accommodations {
    text-align: center;
}


#page-landing #accommodations .show {
    margin: 5rem 2rem;
}

#page-landing #accommodations .show img {
    border-radius: 10px;
    width: 100%;
}

#page-landing #accommodations .show-text {
    margin: 3rem;
}

#page-landing #accommodations .show-text h3 {
    font-size: 3rem;
    color: #656565;
}

#page-landing #accommodations .show-text p {
    text-align: justify;
    padding: 2rem 0;
}

#page-landing #accommodations .show-text a {
    background: #6697bc;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: white;
}

#page-landing #message {
    background: #82969f;
    text-align: center;
}

#page-landing #message .title-message {
    padding: 2rem 0;
}

#page-landing #message .title-message h4 {
    color: white;
    font-size: 2.5rem;
}

#page-landing #message .form-message {
    display: grid;
}

#page-landing #message .form-message input {
    text-indent: 1rem;
    
    margin: 1rem 2rem;
    height: 5rem;

    border-radius: 10px;
    border: none;
}

#page-landing #message .form-message button {
    height: 5rem;
    margin: 2rem 2rem;
    background: #6697bc;
    color: #FFFFFF;

    border-radius: 10px;
    border: none;
}

#page-landing #bar-text {
    padding: 1rem;
    margin: 2rem .5rem
}

#page-landing #bar-text .bar-text-border {
    border: 1px #474747 solid;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page-landing #bar-text .bar-text-border h3 {
    font-size: 2.5rem;
    margin: 0;
    color: #656565;
}

#page-landing #map {
    background: #033742;
    height: 20rem;
}

#page-landing #map p {
    color: white;
    text-align: center;
}

#page-landing .bar-green {
    height: 8rem;
    background: #d4d47e;
}

#page-landing .galery-title {
    margin: 3rem 0;
    text-align: center;
}

#page-landing .galery-title h2 {
    font-size: 3rem;
    color: #656565;
}

.galery-image {
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
}

.owl-nav {
    text-align: center;
}

footer {
    height: 30rem;
    background: #033742;
    text-align: center;
    display: grid;
    align-items: center;
}

footer .footer-logo img {
    width: 30rem;
}

footer .footer-content p {
    color: #FFFFFF;
}

@media (min-width: 1100px) {

    #page-landing header {
        height: auto;
    }

    #page-landing .container .nav .middle-bar-logo img {
        width: 16vw;
    }

    #page-landing #banner .image-banner {
        height: 80vh;
    }

    #page-landing #banner .text {
        height: 20rem;
    }

    #page-landing #banner .text h2 {
        font-size: 3rem;
    }

    #page-landing #content-space {
        display: flex;
        height: 30rem;
        align-items: center;
        justify-content: space-evenly;
    }

    #page-landing #content-space .content-unit {
        height: 15rem;
        width: 20rem;
        margin: 0;
    }

    #page-landing #accommodations {
        margin: 5rem 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-landing #accommodations .show img {
        width: 50vw;
    }

    #page-landing #message {
        justify-content: center;
        align-items: center;
    }

    #page-landing #message .form-message {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-landing #message .form-message input {
        text-indent: 1.5rem;
        margin: 0 1rem;
        height: 5rem;
        border-radius: 10px;
        border: none;
        width: 30rem;
    }

    #page-landing #message .form-message button {
        width: 15rem;
    }

    #galery {
        margin-bottom: 5rem;
    }

    .galery-image {
        height: 100vh;
        margin-bottom: 3rem;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .footer-content {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    footer .footer-content .content {
        text-align: left;
    }

    footer .footer-logo img {
        width: 40rem;
    }
}